*{
    margin: 0px;
    padding: 0px;
    font-family:  sans-serif, Arial, sans-serif,;
}

li>a:hover{
    color: white;
    transition: all 0.2s ease;
    background-color: rgb(217, 169, 177);
    border-radius: 60px;
    opacity: 0.9;   
}
#sml{
    margin-right: -35px;
   
}

.container>h4{
    visibility: hidden;
    border-radius: 30px;
    padding: 1px;

}
#one:hover h4{
    visibility: visible;
    transition: all 1.3s ease;
    transform: scale(1.1);
    opacity: 0.1;
    bottom: 70px;
}
#two:hover h4{
    visibility: visible;
    transition: all 1.3s ease;
    transform: scale(1.1);
    opacity: 0.1;
}
#three:hover h4{
    visibility: visible;
    transition: all 1.3s ease;
    transform: scale(1.1);
    opacity: 0.1;
}
#sml:hover h4{
    visibility: visible;
    transition: all 1.3s ease;
    transform: scale(1.1);
    opacity: 0.1;
    border-radius: 20px;
}
#five:hover{
    background-color: black;
    transition: all 0.3s ease;
}
#five:hover p{
    color: white;
    transition: all 0.3s ease;

}
#aa:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
#bb:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}#cc:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}#dd:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
@media (max-width:556px){
    p{
        font-size: 5px;
    }
}

#istg:hover i{
    color: rgb(50, 50, 84);
}
#face:hover i{
    color: rgb(50, 50, 84);
}

#h:hover{
    color: blue;
}
#hh:hover{
    color: blue;
}
#hhh:hover{
    color: blue;
}
#hhhh:hover{
    color: blue;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(182, 134, 142);
    border-radius: 10px;
}